.filterBar{
border: 1px soild blue;
font-weight: 600;
height: 27rem;
width: 15rem;
margin-top: 3rem ;
display: flex;
flex-direction: column;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
position:fixed;
top: 10rem;
z-index: 2;
}
.filterBar>*{
margin: 20px 40px 0px;
}

@media only screen and (max-width: 600px) {
    .filterBar
    {
        position: static; 
        margin: 0;
    }
}